[submodule "bqt"]
	path = bqt
	url = https://github.com/robertpelloni/bqt.git
[submodule "textfx"]
	path = textfx
	url = https://github.com/rainman74/NPPTextFX2.git
[submodule "bgtk"]
	path = bgtk
	url = https://github.com/robertpelloni/bgtk.git
[submodule "bcs"]
	path = bcs
	url = https://github.com/robertpelloni/bcs.git
