[submodule "bobui"]
	path = bobui
	url = https://github.com/robertpelloni/bobui.git
[submodule "textfx"]
	path = textfx
	url = https://github.com/rainman74/NPPTextFX2.git
[submodule "bobgui"]
	path = bobgui
	url = https://github.com/robertpelloni/bobgui
[submodule "btk"]
	path = btk
	url = https://github.com/robertpelloni/btk
